<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>ログイン</title>
		<meta name="description" content="ログインフォームです"/>
		<link rel="stylesheet" href="../../../css/style.css"/>
	</head>
	<body>
		<main>
			<h2>ログイン</h2>
			<div th:if="${param.error}" class="alert alert-danger">
				メールアドレスまたはパスワードが正しくありません。
			</div>
			
			<form th:action="@{/login}" method="post">
				<div class="form-group mb-3">
					<input type="text" class="form-control" name="username"  placeholder="ログインid">
					<input type="password" class="form-control" name="password" autocomplete="new-password" placeholder="パスワード">
				</div>
				<div  class="form-group d-flex justify-content-center my-4">
					<button type="submit" class="btn text-white shadow-sm w-100">ログイン</button>
				</div>
			</form>
		</main>
	</body>
</html>