.lt {
  text-decoration: line-through;
}

.warn {
  background-color: red;
}

li {
  text-decoration: none;
}

[id^="warning"] {
  color: red;
}

[id^="slider"] {
  cursor: pointer;

}

.task,
.input {
  display: flex;
  align-items: center;
}

.alert {
  opacity: 0.3;
  pointer-events: none;
}